#Nom a{
	text-align: center;
	text-decoration: none;
    color: black ;
    font-family:Arial, sans-serif;
}


.card{
	display: inline-block;
	width: 350px;
	height: 330px;
	margin: 5px 5px;
}

.card img{
	width:350px;
	height: 330px;
    padding: 5px 5px;
}


.card p{
	margin-bottom: 3px;
	margin-top: 2px;
	font-weight:bolder;
}

.card{
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	font-weight: normal;
}

.card a{
	text-decoration: none; 
	font-weight: normal;
	
}

.card:hover {
	-webkit-transform: scale(0.85);
	transform: scale(0.85);
	font-weight: normal;

}

